elastic:
  server: 'http://localhost:9200'
  agent_index: 'bionomia_agents'
  user_index: 'bionomia_users'
  organization_index: 'bionomia_organizations'
  dataset_index: 'bionomia_datasets'
  article_index: 'bionomia_articles'
