elastic:
  server: 'http://localhost:9200'
  agent_index: 'bioniomia_agents'
  user_index: 'bioniomia_users'
  organization_index: 'bioniomia_organizations'
  dataset_index: 'bioniomia_datasets'
  article_index: 'bioniomia_articles'
